(
    pos: center,
    keys: [
        ("shift+cmd+0", "activate", mode([
            ("a", "One", shell("git status")),
            ("s", "Short Submode", mode([
                ("i", "Inner Mode", shell("echo Inner Mode")),
                ("r", "Return to Main Menu", pop)
            ])),
            ("l", "Long Submode", mode([
                ("a", "Inner Action A", shell("echo here")),
                ("b", "Inner Action B", shell("echo here")),
                ("c", "Inner Action C", shell("echo here")),
                ("d", "Inner Action D", shell("echo here")),
                ("e", "Inner Action E", shell("echo here")),
                ("f", "Inner Action F", shell("echo here")),
                ("g", "Inner Action G", shell("echo here")),
                ("h", "Inner Action H", shell("echo here")),
                ("i", "Inner Action I", shell("echo here")),
            ])),
            ("shift+cmd+0", "exit", exit, (global: true, hide: true)),
            ("esc", "Back", pop, (global: true, hide: true)),
        ])),
        ("shift+cmd+9", "activate", mode([
            ("a", "Inner Action A", shell("echo here")),
            ("b", "Inner Action B", shell("echo here")),
            ("c", "Inner Action C", shell("echo here")),
            ("d", "Inner Action D", shell("echo here")),
            ("e", "Inner Action E", shell("echo here")),
            ("f", "Inner Action F", shell("echo here")),
            ("g", "Inner Action G", shell("echo here")),
            ("h", "Inner Action H", shell("echo here")),
            ("i", "Inner Action I", shell("echo here")),
        ])),
    ]
)
