[
    ("shift+cmd+0", "Git Menu", mode([
        ("s", "Git Status", shell("git status")),
        ("l", "Git Log", shell("git log --oneline -10"), (noexit: true)),
        ("d", "Git Diff", shell("git diff")),
        ("m", "Submode", mode([
            ("i", "Inner Mode", shell("echo Inner Mode")),
            ("r", "Return to Main Menu", pop)
        ])),
        ("n", "Nested Mode", mode([
            ("a", "Inner Action A", shell("echo Inner Action A")),
        ])),
        ("shift+cmd+0", "exit", exit, (global: true, hidden: true)),
        ("esc", "Back", pop, (global: true, hidden: true)),
    ])),
]
